.header-img {
    background-image: url(http://theartmad.com/wp-content/uploads/2015/02/Blue-Geometric-Background-4.jpg);
    /*background-image: url(img/header-bg.jpg);*/
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
}

#hero {
    background-color: rgba(29,181,171,0.7);
    color: #fff;
    padding: 100px 0 100px;
}

nav a:hover {
    color: white;
}

.btn-floating {
    font-size: 1.25em;
    top: 25px;
}

.btn-floating i {
    color: #fff;
}

#about {
    padding: 100px 0;
}

#about .card-image {
    height: 136px;
}

#about .card-image img {
    height: 136px;
}

a {
    color: #009688;
}

a:hover {
    color: #4db6ac;
}

.lead {
    font-size: 18px;
}

.top-margin {
    margin-top: 50px;
}

.card-subtitle {
    text-decoration: italic;
    margin-bottom: 15px;
}

#map {
    width: 100%;
    height: 500px;
}
