.header-img {
    background-image: url(http://cache3.asset-cache.net/xd/467166666.jpg?v=1&c=IWSAsset&k=2&d=62CA815BFB1CE4806D23BB0D47AB81B32B6A5D266AEA58DB244503865E9816A8C059E632BD9CFA0E);
    /*background-image: url(img/header-bg.jpg);*/
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
}

#hero {
    background-color: rgba(29,181,171,0.7);
    color: #fff;
    padding: 100px 0 100px;
}

.btn-floating {
    font-size: 1.25em;
    top: 25px;
}

.btn-floating i {
    color: #fff;
}

#about {
    padding: 100px 0;
}

#about .card-image {
    height: 136px;
}

#about .card-image img {
    height: 136px;
}